@import "fonts";
@import "fonts";
@import "palette";
@import "mq";
@import "general";
@import "answers";

html,
body {
    @include fs-bodyCopy(2);
    color: #333;
    margin: 0;
    padding: 0;
}

.interactive-embed {
	background-color:#f8f8f8;
}
